/* .Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    height: 100vh;
    overflow: hidden;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
} */
.Modal{
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    height: 100vh;
    overflow: auto;
    max-height:80%;
 }
 .Modal-header{
    height:15% !important;    
 }
 .Modal-body{
    height:70%;
    overflow:auto;
 }
 .Modal-footer{
    height:15%;
 }

 .Modal-content {
    height:250px;
    overflow:auto;
  }